# Tutorial Básico de pandas

Este tutorial cubre los conceptos fundamentales del uso de DataFrames en pandas.

## Instalación de pandas

Primero, asegúrate de tener pandas instalado. Puedes instalarlo usando pip:

```bash
pip install pandas
```

## Creación de un DataFrame

### A partir de un diccionario

In [ ]:
import pandas as pd

data = {
    'Nombre': ['Ana', 'Luis', 'Marta'],
    'Edad': [23, 30, 25],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)
print(df)

### A partir de una lista de listas

In [ ]:
data = [
    ['Ana', 23, 'Madrid'],
    ['Luis', 30, 'Barcelona'],
    ['Marta', 25, 'Valencia']
]

df = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Ciudad'])
print(df)

### A partir de un archivo CSV

In [4]:
import pandas as pd
# Supongamos que tienes un archivo `datos.csv` con el siguiente contenido:
# Nombre,Edad,Ciudad
# Ana,23,Madrid
# Luis,30,Barcelona
# Marta,25,Valencia

# Puedes leerlo en un DataFrame así:
df = pd.read_csv('datos.csv')
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    30  Barcelona
2  Marta    25   Valencia

## Exploración de Datos

### Mostrar las primeras filas

In [ ]:
print(df.head())

### Mostrar información del DataFrame

In [ ]:
print(df.info())

### Describir estadísticas básicas

In [ ]:
print(df.describe())

In [ ]:
print(df['Edad'].describe())

## Selección y Filtrado de Datos

### Seleccionar una columna

In [ ]:
print(df['Nombre'])

### Seleccionar múltiples columnas

In [ ]:
print(df[['Nombre', 'Ciudad']])

### Seleccionar filas por índice

In [ ]:
print(df.iloc[0])  # Primera fila

In [ ]:
print(df.iloc[0:2])  # Primeras dos filas

### Filtrar filas por condición

In [ ]:
print(df[df['Edad'] > 25])

## Manipulación de Datos

### Añadir una nueva columna

In [ ]:
df['País'] = 'España'
print(df)

### Modificar valores

In [ ]:
df.loc[0, 'Edad'] = 24
print(df)

### Eliminar una columna

In [ ]:
df = df.drop('País', axis=1)
print(df)

### Eliminar filas

In [ ]:
df = df.drop(0)  # Eliminar primera fila
print(df)

## Guardar el DataFrame

### Guardar como CSV

In [ ]:
df.to_csv('datos_modificados.csv', index=False)

### Guardar como Excel

In [ ]:
df.to_excel('datos_modificados.xlsx', index=False)

## Resumen

In [ ]:
import pandas as pd

# Crear un DataFrame a partir de un diccionario
data = {
    'Nombre': ['Ana', 'Luis', 'Marta'],
    'Edad': [23, 30, 25],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)
print("DataFrame original:")
print(df)

# Mostrar las primeras filas
print("\nPrimeras filas:")
print(df.head())

# Mostrar información del DataFrame
print("\nInformación del DataFrame:")
print(df.info())

# Describir estadísticas básicas
print("\nEstadísticas descriptivas:")
print(df.describe())

# Seleccionar una columna
print("\nColumna 'Nombre':")
print(df['Nombre'])

# Filtrar filas por condición
print("\nFilas donde la edad es mayor a 25:")
print(df[df['Edad'] > 25])

# Añadir una nueva columna
df['País'] = 'España'
print("\nDataFrame con nueva columna:")
print(df)

# Guardar el DataFrame como CSV
df.to_csv('datos_modificados.csv', index=False)

# Guardar el DataFrame como Excel
df.to_excel('datos_modificados.xlsx', index=False)